---
name: CI
# yamllint disable-line rule:truthy
on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Date-Based Cache key
        # get a key showing the current week (ISO: yyyyWww) allowing older caches to age-out/autoprune
        id: week
        run: echo "::set-output name=iso::$(date +'bazel-%YW%U')"
      -
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Cache bazel downloads via bazelisk
          bazelisk-cache: true
          # Store build cache per week
          disk-cache: ${{ steps.week.outputs.iso }}
          # Share repository cache between workflows.
          repository-cache: true
      -
        name: Clone Repo
        uses: actions/checkout@v6
      -
        name: Full build
        run: bazel build //...
      -
        name: Redundant build of release artifacts
        run: bazel build --build_tag_filters=release-artifact //...
      -
        run: bazel shutdown
