---
name: Release
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      -
        name: Cut Github Release
        uses: googleapis/release-please-action@v4
        # Settings -> Actions -> General -> Workflow Permissions
        # - select "Read repo contents", and
        # - enable "Allow Github Actions to create and approve pull requests"
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
      -
        name: Date-Based Cache key
        # get a key showing the current week (ISO: yyyyWww) allowing older caches to age-out/autoprune
        id: week
        run: echo "::set-output name=iso::$(date +'bazel-%YW%U')"
      -
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          # Cache bazel downloads via bazelisk
          bazelisk-cache: true
          # Store build cache per week
          disk-cache: ${{ steps.week.outputs.iso }}
          # Share repository cache between workflows.
          repository-cache: true
      -
        name: Clone Repo
        uses: actions/checkout@v6
      -
        name: Canonicalize Parameters
        id: params
        if: ${{ steps.release.outputs.release_created }}
        run: |
          echo "::set-output name=prefix::$(echo ${GITHUB_REPOSITORY} | cut -d / -f 2)-${{ steps.release.outputs.tag_name }}"
          echo "::set-output name=tag_name::${{ steps.release.outputs.tag_name }}"
      -
        name: Cut Size-Optimized Archive
        env:
          PREFIX: ${{ steps.params.outputs.prefix }}
          TAG: ${{ steps.params.outputs.tag_name }}
        if: ${{ steps.release.outputs.release_created }}
        run: git archive --format=tar --prefix=${PREFIX}/ $(git log -1 --format=%H) | xz -c9 > ${PREFIX}.tar.xz
      -
        name: Upload Size-Optimized Archive
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PREFIX: ${{ steps.params.outputs.prefix }}
          TAG: ${{ steps.release.outputs.tag_name }}
        if: ${{ steps.release.outputs.release_created }}
        run: gh release upload ${TAG} ${PREFIX}.tar.xz
      -
        name: Build Artifacts
        run: bazel build --build_tag_filters=release-artifact //...
      -
        name: Upload Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ steps.release.outputs.tag_name }}
        if: ${{ steps.release.outputs.release_created }}
        run: |
          bazel cquery  "attr(tags, 'release-artifact', //...)" --output=starlark  --starlark:expr="'\n'.join([f.path for f in target.files.to_list()])" | xargs gh release upload ${TAG}
      -
        run: bazel shutdown
